header {
    width:calc(100% - 60px); /* full */
    height: 100px;
    margin: 0 auto;
    background: lightblue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
header h1 {}
header h1 img {
    width: 213px;
}
header .right {
    background: lightcoral;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .right .lang {background: lightgreen;
margin-left: 0;
}

header .right >* { /* rigth의 모든자식에게 값을 주겠다 */
    margin-left: 15px;}
header .right #searchFrm {

}
header .right #searchFrm fieldset {
    background: rgb(0, 0, 0);
    width: 317px; height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    border-radius: 15px;
    margin-right: 20px;
}
header .right #searchFrm fieldset #searchTxt::placeholder {color: #aaa;}
header .right #searchFrm fieldset #searchTxt {
    background:none;
    color: #fff;
}
header .right #searchFrm fieldset #searchBtn {width: 20px;
background:none;}
header .right #searchFrm fieldset #searchBtn img { width: 100%;

}
header .right #login {}
header .right #cart {}
header .right #menu {}
