main {width: 100%; margin: 0 auto; background: #ececec;
display: flex;
flex-flow:column nowrap ;}
main {background: #fff; width: 750px; height: 1400px; margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center}
main h1 {
    font-size: 2.369rem ;
    font-weight: 800;
    margin-bottom: 70px;
    margin-top: 200px;
    letter-spacing: -0.07rem;
}
main .userType {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
main .userType h2 a {
    font-size: 1.777rem;
    font-weight: 500;
    width: 325px;
    /* padding:0 59px 30px 59px; */
    margin-bottom: 70px;
    text-align: center;
    padding-bottom:30px ;
    letter-spacing: -0.02rem;
    border-bottom: 4px solid #aaa;
    color:#aaa ;
    display: inline-block;
}

main .userType h2 .active {
    border-bottom: 4px solid #000;
    color: #000;}
/* main .all .userType h2::after {
    border-bottom: 3px solid #fff;
} */
main .content .tab1 form {}
main .content .tab1 form fieldset {
    display: flex;
    flex-flow: column nowrap;
}
main .content .tab1 form fieldset #login_id {
    width: 500px; height: 60px;
    border-radius: 10px; border: 2px solid #aaa;
    margin-bottom: 20px;
    padding: 30px 30px;
}
main .content .tab1 form fieldset .login_pw { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 500px; height: 60px;
    border-radius: 10px; border: 2px solid #aaa;
    margin-bottom: 40px;
    padding: 15px 30px;
}
main .content .tab1 form fieldset .login_pw #pw {}
main .content .tab1 form fieldset button {background: #000;
    width: 500px; height: 60px;
    font-size: 1.333rem;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
}
main .content .tab1 form fieldset #login_button {}
main .content .tab1 form fieldset #login_button img {}
main .content .tab1 form fieldset .loginFrm {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    
}
main .content .tab1 form fieldset .loginFrm .loginAuto {}
main .content .tab1 form fieldset .loginFrm .loginAuto label {font-size: 1.333rem;}
main .content .tab1 form fieldset .loginFrm .loginAuto label #auto {}
main .content .tab1 form fieldset .loginFrm .loginFind {
    display: flex;
}
main .content .tab1 form fieldset .loginFrm .loginFind p {
    
}
main .content .tab1 form fieldset .loginFrm .loginFind p a {
    font-size: 1.333rem;
    color: #aaa;
    letter-spacing: -0.02rem;
}
main .content .tab1 .kakao_apple {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main .content .tab1 .kakao_apple #kakao {background: #FEE500;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:center ;
    width: 500px; height: 60px;
    text-align: center;
    border-radius: 10px ;
    margin-bottom: 20px;
}
main .content .tab1 .kakao_apple #kakao img {width:30px; margin-right: 20px;}
main .content .tab1 .kakao_apple #kakao em {font-size: 1.333rem; font-weight: 500;}
main .content .tab1 .kakao_apple #apple {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:center ;
    width: 500px; height: 60px;
    text-align: center;
    width: 500px; height: 60px;
    text-align: center;
    border-radius: 10px ;
    border: 2px solid #aaa;
    margin-bottom: 70px;
}
main .content .tab1 .kakao_apple #apple img {width: 30px; margin-right: 20px;}
main .content .tab1 .kakao_apple #apple em {font-size: 1.333rem; font-weight: 500; }
main .content .tab1 .sale_join {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
main .content .tab1 .sale_join p:first-child {color: #0078FF; font-weight: 600; margin-right: 20px;}
main .content .tab1 .sale_join .join {}
main .content .tab1 .sale_join .join a { color: #0078FF; font-weight: 600; border-radius: 5px; border: 2px solid  #0078FF;
    padding: 5px 10px;
}
main .content .tab2 {background: #deedff; width: 1440px; height: 600px; margin: 0 auto;}
main .content .tab2 #tab2_title {}
main .content .tab2 #tab2_title fieldset {}
main .content .tab2 #tab2_title fieldset ul {background: lightblue;}
main .content .tab2 #tab2_title fieldset ul li {}
main .content .tab2 #tab2_title fieldset ul li p {}
main .content .tab2 #tab2_title fieldset ul li #user_name {}
main .content .tab2 #tab2_title fieldset ul li #user_num {}
main .content .tab2 #tab2_title fieldset button {}